# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Dependencies
node_modules/
composer.lock

# Environment
.env
.env.local

# Temporary files
*.tmp
*.bak
~*

# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/

# Project Specific
.sass-cache/
dist/
build/
